body {
    margin: 0px;
    padding: 0px;
}

/* practice of Pseudo classess  */

h1::first-letter {
    color: red;
    font-size: 50px;
}

h1::first-line {
    color: green;
}

h3::before {
    content: "Hello !";
}

h3::after {
    content: ' Greetings !';
}



/* practice of Pseudo elements  */
div>p::first-letter {
    background-color: white;
    color: red;
    font-size: 32px;
}

div>p::first-line {
    color: darkblue;
}

div p:first-child {
    background-color: darkcyan;
}

/* practice of Pseudo elements  */

/* when the link is not visited */
.primary-btn:link {
    padding: 10px;
    background-color: red;
}

/* when we already visited the link */
.primary-btn:visited {
    color: rgb(3, 0, 0);
    font-weight: 10px;
}

/* when we click on the button */
.primary-btn:active {
    color: rgb(0, 0, 0);
    border: 2px solid red;
    background-color: white;
    border-radius: 5px;
}

/* on hover effect */
.primary-btn:hover {
    background-color: violet;
    color: white;
}

/* now we will se how to make tooltip for the webpage  */
.tool {
    margin: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    /* the ouline always comes outside the border */
    outline: 1px dashed red;
    /* the space between the border and the outline */
    outline-offset: 2px;

    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    background-color: lightcoral;
}

.tip {
    display: none;
    font-weight: bold;
    color: white;
}

.tool:hover .tip {
    display: block;
    position: absolute;
    display: inline-block;
    background: rgba(51, 143, 201, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(0, 0, 255, 0.511), 0 0 5px darkblue;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 4px;
}


/* first and last child pseudo practice  */

div p:first-child {
    background-color: darkgreen;
}

div p:nth-child(2) {
    background-color: darkcyan;
}

div div:nth-child(2n +1) {
    background-color: gray;
    padding: 10px;
}


/* grid practice   */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* grid practice with media query */

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* grid practice   */
.grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


/* grid practice with media query with min-width */


@media only screen and (min-width: 600px) {
    .grid2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 800px) {
    .grid2 {
        grid-template-columns: repeat(3, 1fr);
    }
}

::selection {
    background-color: lightcoral;
    color: black;
}